In [1]:
# importing libraries to use
import pandas as pd 
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
df_bikes = pd.read_csv("Trip_Data_022023.csv")

# Let's take a look at the data size we're dealing with:
print("Cyclistic's dataframe has", df_bikes.shape[0], "rows and", df_bikes.shape[1], "columns")

Cyclistic's dataframe has 258678 rows and 13 columns

In [3]:
# Taking a quick look at the first 5 rows of the dataframe:
df_bikes.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6842AA605EE9FBB3,electric_bike,2023-03-16 08:20:34,2023-03-16 08:22:52,Clark St & Armitage Ave,13146,Larrabee St & Webster Ave,13193,41.918413,-87.636451,41.921822,-87.644140,member
1,F984267A75B99A8C,electric_bike,2023-03-04 14:07:06,2023-03-04 14:15:31,Public Rack - Kedzie Ave & Argyle St,491,NaN,NaN,41.970000,-87.710000,41.950000,-87.710000,member
2,FF7CF57CFE026D02,classic_bike,2023-03-31 12:28:09,2023-03-31 12:38:47,Orleans St & Chestnut St (NEXT Apts),620,Clark St & Randolph St,TA1305000030,41.898203,-87.637536,41.884576,-87.631890,member
3,6B61B916032CB6D6,classic_bike,2023-03-22 14:09:08,2023-03-22 14:24:51,Desplaines St & Kinzie St,TA1306000003,Sheffield Ave & Kingsbury St,13154,41.888716,-87.644448,41.910522,-87.653106,member
4,E55E61A5F1260040,electric_bike,2023-03-09 07:15:00,2023-03-09 07:26:00,Walsh Park,18067,Sangamon St & Lake St,TA1306000015,41.914480,-87.668013,41.885779,-87.651025,member

In [4]:
df_bikes.info

<bound method DataFrame.info of                  ride_id  rideable_type           started_at  \
0       6842AA605EE9FBB3  electric_bike  2023-03-16 08:20:34
1       F984267A75B99A8C  electric_bike  2023-03-04 14:07:06
2       FF7CF57CFE026D02   classic_bike  2023-03-31 12:28:09
3       6B61B916032CB6D6   classic_bike  2023-03-22 14:09:08
4       E55E61A5F1260040  electric_bike  2023-03-09 07:15:00
...                  ...            ...                  ...
258673  BA8B9D1D0AAF5F25  electric_bike  2023-03-08 00:00:02
258674  841F8FE05B117E00   classic_bike  2023-03-21 14:24:42
258675  25892EF6A0949B97  electric_bike  2023-03-21 16:48:52
258676  F6514CD31F2A9723   classic_bike  2023-03-16 20:36:05
258677  FEDA9EE828BC56BF  electric_bike  2023-03-27 19:58:08

                   ended_at                    start_station_name  \
0       2023-03-16 08:22:52               Clark St & Armitage Ave
1       2023-03-04 14:15:31  Public Rack - Kedzie Ave & Argyle St
2       2023-03-31 12:38:47  Orleans St & Chestnut St (NEXT Apts)
3       2023-03-22 14:24:51             Desplaines St & Kinzie St
4       2023-03-09 07:26:00                            Walsh Park
...                     ...                                   ...
258673  2023-03-08 00:06:25                  Rush St & Hubbard St
258674  2023-03-21 14:50:45            Sheridan Rd & Montrose Ave
258675  2023-03-21 16:51:27                Halsted St & Roscoe St
258676  2023-03-16 20:43:11            Sheridan Rd & Montrose Ave
258677  2023-03-27 20:03:52             Clark St & Wellington Ave

       start_station_id              end_station_name end_station_id  \
0                 13146     Larrabee St & Webster Ave          13193
1                   491                           NaN            NaN
2                   620        Clark St & Randolph St   TA1305000030
3          TA1306000003  Sheffield Ave & Kingsbury St          13154
4                 18067         Sangamon St & Lake St   TA1306000015
...                 ...                           ...            ...
258673     KA1503000044           Canal St & Adams St          13011
258674     TA1307000107       Sheridan Rd & Buena Ave   TA1309000027
258675     TA1309000025       Broadway & Waveland Ave          13325
258676     TA1307000107       Broadway & Waveland Ave          13325
258677     TA1307000136       Broadway & Waveland Ave          13325

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.918413 -87.636451  41.921822 -87.644140        member
1       41.970000 -87.710000  41.950000 -87.710000        member
2       41.898203 -87.637536  41.884576 -87.631890        member
3       41.888716 -87.644448  41.910522 -87.653106        member
4       41.914480 -87.668013  41.885779 -87.651025        member
...           ...        ...        ...        ...           ...
258673  41.890202 -87.626232  41.879255 -87.639904        member
258674  41.961670 -87.654640  41.958494 -87.654966        member
258675  41.943681 -87.648830  41.949074 -87.648636        member
258676  41.961670 -87.654640  41.949074 -87.648636        member
258677  41.936490 -87.647581  41.949074 -87.648636        member

[258678 rows x 13 columns]>

In [5]:
# We can also check for the type of data that there is in each column:
df_bikes.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [6]:
# Columns 'started at' and 'ended at' are not an object type, so, we should change that:
df_bikes['started_at'] = pd.to_datetime(df_bikes['started_at'])
df_bikes['ended_at'] = pd.to_datetime(df_bikes['ended_at'])

In [7]:
# We can now check again if it's changed or not:
df_bikes.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

The types are correct in relation to info displayed in the dataframe.

In [8]:
# We have some columns that have different types of data in it that may be worth to look at.
print("The column 'rideable_type' has", df_bikes['rideable_type'].nunique(), "different types of bikes registered, which are",
     df_bikes['rideable_type'].unique()[0], df_bikes['rideable_type'].value_counts()[0],
      df_bikes['rideable_type'].unique()[1], df_bikes['rideable_type'].value_counts()[1], "and",
       df_bikes['rideable_type'].unique()[2], df_bikes['rideable_type'].value_counts()[2] )

The column 'rideable_type' has 3 different types of bikes registered, which are electric_bike 148575 classic_bike 107083 and docked_bike 3020

In [9]:
# We can also see what types of members have been registered in this dataframe and how many for each:
print("There are", df_bikes['member_casual'].nunique(), "different types of members registered, which are",
     df_bikes['member_casual'].unique()[0], df_bikes['member_casual'].value_counts()[0], "and",
      df_bikes['member_casual'].unique()[1], df_bikes['member_casual'].value_counts()[1] )

There are 2 different types of members registered, which are member 196477 and casual 62201

In [10]:
# Let's consider now the nan values that may have been registered, first we'll check if they exist in the dataframe:
df_bikes.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    35910
start_station_id      35910
end_station_name      38438
end_station_id        38438
start_lat                 0
start_lng                 0
end_lat                 183
end_lng                 183
member_casual             0
dtype: int64

In [11]:
print("As percentages, the NaN values in the current data set would be:\n",
      (df_bikes.isna().sum()/df_bikes.count())*100)

As percentages, the NaN values in the current data set would be:
 ride_id                0.000000
rideable_type          0.000000
started_at             0.000000
ended_at               0.000000
start_station_name    16.119910
start_station_id      16.119910
end_station_name      17.452779
end_station_id        17.452779
start_lat              0.000000
start_lng              0.000000
end_lat                0.070794
end_lng                0.070794
member_casual          0.000000
dtype: float64

We have between 0% and ~15% of NaN values in the geolocation columns. So far we've seen that according to the company's needs we're looking to have more member users rather than casual users, so it'd be good to consider how consistent the users are, through the time data. 

For this reason, we're going to be considering the time columns and disregard the geolocation ones, because at the same time, regardless of the location, the user still wants to use the service for transportation, easy-to-use, money-saving reasons.

In [12]:
# Removing al NaN columns (columns with the geolocation/location data):
df_bikes.dropna(axis=1, inplace=True) # Using dropna for those that NaNs
df_bikes.drop(columns=["start_lat", "start_lng"], inplace = True) # Using drop for longitude and latitude data
df_bikes.isna().sum()

ride_id          0
rideable_type    0
started_at       0
ended_at         0
member_casual    0
dtype: int64

In [13]:
df_bikes.head(3)

,ride_id,rideable_type,started_at,ended_at,member_casual
0,6842AA605EE9FBB3,electric_bike,2023-03-16 08:20:34,2023-03-16 08:22:52,member
1,F984267A75B99A8C,electric_bike,2023-03-04 14:07:06,2023-03-04 14:15:31,member
2,FF7CF57CFE026D02,classic_bike,2023-03-31 12:28:09,2023-03-31 12:38:47,member

We can now take a deeper look into the user's preference when it comes to the type of bike and how much time they spend using the service.

In [14]:
df_bikes["time_length"]=df_bikes["ended_at"]-df_bikes["started_at"]
df_bikes

,ride_id,rideable_type,started_at,ended_at,member_casual,time_length
0,6842AA605EE9FBB3,electric_bike,2023-03-16 08:20:34,2023-03-16 08:22:52,member,0 days 00:02:18
1,F984267A75B99A8C,electric_bike,2023-03-04 14:07:06,2023-03-04 14:15:31,member,0 days 00:08:25
2,FF7CF57CFE026D02,classic_bike,2023-03-31 12:28:09,2023-03-31 12:38:47,member,0 days 00:10:38
3,6B61B916032CB6D6,classic_bike,2023-03-22 14:09:08,2023-03-22 14:24:51,member,0 days 00:15:43
4,E55E61A5F1260040,electric_bike,2023-03-09 07:15:00,2023-03-09 07:26:00,member,0 days 00:11:00
...,...,...,...,...,...,...
258673,BA8B9D1D0AAF5F25,electric_bike,2023-03-08 00:00:02,2023-03-08 00:06:25,member,0 days 00:06:23
258674,841F8FE05B117E00,classic_bike,2023-03-21 14:24:42,2023-03-21 14:50:45,member,0 days 00:26:03
258675,25892EF6A0949B97,electric_bike,2023-03-21 16:48:52,2023-03-21 16:51:27,member,0 days 00:02:35
258676,F6514CD31F2A9723,classic_bike,2023-03-16 20:36:05,2023-03-16 20:43:11,member,0 days 00:07:06
258677,FEDA9EE828BC56BF,electric_bike,2023-03-27 19:58:08,2023-03-27 20:03:52,member,0 days 00:05:44

In [15]:
df_bikes.dtypes

ride_id                   object
rideable_type             object
started_at        datetime64[ns]
ended_at          datetime64[ns]
member_casual             object
time_length      timedelta64[ns]
dtype: object

In [16]:
# Analyzing what we got above:
df_bikes["time_length"].describe()

count                       258678
mean     0 days 00:13:04.803017651
std      0 days 01:38:11.450462766
min                0 days 00:00:00
25%                0 days 00:04:26
50%                0 days 00:07:30
75%                0 days 00:12:50
max               11 days 16:08:04
Name: time_length, dtype: object

We can see a maximum of 11 days and over 16 hours and a minimum of 0 hours. The mean of the time spent by users in Cyclistic is 13 minutes.

Now that we know the time length for each ride, we're going to get these values in the same unit, this time, in minutes.

In [17]:
df_bikes["time_length [min]"]=df_bikes["time_length"].dt.total_seconds()/60
df_bikes["time_length [min]"].describe()
# Dropping the previous columns with no unit transformation:
df_bikes.drop(columns = ["time_length"], inplace=True)
# These results make all sense: ((11days*24h)+16h)*60m= ~16800 minutes

In [18]:
df_bikes.head(3)

,ride_id,rideable_type,started_at,ended_at,member_casual,time_length [min]
0,6842AA605EE9FBB3,electric_bike,2023-03-16 08:20:34,2023-03-16 08:22:52,member,2.300000
1,F984267A75B99A8C,electric_bike,2023-03-04 14:07:06,2023-03-04 14:15:31,member,8.416667
2,FF7CF57CFE026D02,classic_bike,2023-03-31 12:28:09,2023-03-31 12:38:47,member,10.633333